<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.sinsimiot.dao.IotMachineMapper">
    <resultMap id="BaseResultMap" type="com.eservice.sinsimiot.model.iot_machine.IotMachine">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
        <result column="machine_model_info" jdbcType="VARCHAR" property="machineModelInfo" />
        <result column="uptime" jdbcType="VARCHAR" property="uptime" />
        <result column="working_time" jdbcType="VARCHAR" property="workingTime" />
        <result column="nonworking_time" jdbcType="VARCHAR" property="nonworkingTime" />
        <result column="line_broken_number" jdbcType="VARCHAR" property="lineBrokenNumber" />
        <result column="line_broken_average_time" jdbcType="VARCHAR" property="lineBrokenAverageTime" />
        <result column="product_total_number" jdbcType="VARCHAR" property="productTotalNumber" />
        <result column="power_on_times" jdbcType="VARCHAR" property="powerOnTimes" />
        <result column="needle_total_number" jdbcType="VARCHAR" property="needleTotalNumber" />

        <result column="user" jdbcType="VARCHAR" property="user" />
        <result column="pattern" jdbcType="VARCHAR" property="pattern" />
        <result column="machine_status" jdbcType="VARCHAR" property="machineStatus" />

    </resultMap>

    <select id="selectIotMachine" resultMap="BaseResultMap">
        SELECT
--         写为*会重复，必须一个个字段列出
        DISTINCT (im.nameplate),
        im.machine_model_info,
        im.uptime ,
        im.working_time ,
        im.nonworking_time ,
        im.line_broken_number ,
        im.line_broken_average_time ,
        im.product_total_number ,
        im.power_on_times,
        im.needle_total_number,
        im.user,
        im.pattern,
        im.machine_status

        FROM
        iot_machine as im
        WHERE 1=1
        <if test="account != null and account != ''">
            and im.`user` like concat('%',#{account},'%')
        </if>
        <if test="nameplate != null and nameplate != ''">
            and im.nameplate like concat('%',#{nameplate},'%')
        </if>
        <if test="machineModelInfo != null and machineModelInfo != ''">
            and im.machine_model_info like concat('%',#{machineModelInfo},'%')
        </if>
    </select>

</mapper>