<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eservice.sinsimiot.dao.MalfunctionMapper">
  <resultMap id="BaseResultMap" type="com.eservice.sinsimiot.model.malfunction.Malfunction">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="nameplate" jdbcType="VARCHAR" property="nameplate" />
    <result column="machine_stop_time" jdbcType="VARCHAR" property="machineStopTime" />
    <result column="malfunction_reason" jdbcType="VARCHAR" property="malfunctionReason" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>